@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --border-radius: 5px;
  --padding: 40px;
}
* {
  padding: 0;
  margin: 0;
}
.white {
  color: white;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(204, 43%, 93%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: grid;
  width: 675px;
  height: 490px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}
.box1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: var(--padding);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: white;
  background-color: hsl(179, 62%, 43%);
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  justify-content: space-between;
  border-bottom-left-radius: var(--border-radius);
}
.box3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: white;
  background-color: hsl(179, 62%, 47%);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  justify-content: space-between;
}
.box1-header {
  font-family: Karla;
  font-weight: 700;
  color: hsl(179, 62%, 43%);
}
.box1-main {
  font-family: Karla;
  font-weight: 700;
  color: hsl(71, 73%, 54%);
}
.box1-para {
  font-family: Karla;
  font-weight: 400;
  color: hsl(218, 22%, 67%);
  font-size: 16px;
  line-height: 25px;
}
.box1-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pricing {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.price {
  font-family: Karla;
  font-weight: 700;
}
.price-followup {
  color: white;
  opacity: 0.5;
  font-family: Karla;
  font-weight: 400;
}
.sign-up {
  font-family: Karla;
  font-weight: 700;
  height: 50px;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 12px 22px 29px -21px black;
}
.details {
  font-family: Karla;
  font-weight: 400;
}
.sub {
  font-family: Karla;
  font-weight: 700;
}
.box2-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.heading {
  font-family: Karla;
  font-weight: 700;
}
.reason {
  list-style: none;
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  color: white;
  opacity: 0.7;
  line-height: 22px;
}

/* Responsiveness */
@media screen and (max-width: 750px) {
  body {
    height: 140vh;
  }
  .card {
    width: 325px;
    height: 885px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
  }
  .box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .box2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 0;
  }
  .box3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-bottom-left-radius: var(--border-radius);
  }
  .box1-para {
    line-height: 30px;
  }
  .sign-up {
    box-shadow: 12px 22px 47px -21px black;
  }
}
